<h2>Create an New Author</h2>
<%= form_tag authors_path do %>
<%if @author.errors.any? %>
<div id="error_explanation">
  <h2>There were some errors</h2>
  <ul>
    <% @author.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="field<%=' field_with_errors' if @author.errors[:name].any? %>">
    <%= label_tag "name", "Name" %>
    <%= text_field_tag "name", @author.name %>
  </div>

  <div class="field<%=' field_with_errors' if @author.errors[:email].any? %>">
    <%= label_tag "email", "Email" %>
    <input type="text" id="Email" name="email" value="<%=@author.email%>">

  </div>

  <div class="field<%=' field_with_errors' if @author.errors[:phone_number].any? %>">
    <%= label_tag "author_phone_number", "Phone Number" %>
    <br />
    <input type="text" id="Phone Number" name="phone_number" value="<%=@author.phone_number%>">
  </div>
  <%= submit_tag "Create" %>
<% end %>
